@model IEnumerable<eticaretsitesi.Entity.Basket>


<table class="table">
    <tr>
        <th>Ürün</th>
        <th>Adet</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Adi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ouantity)
            </td>

            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<a href="/Siparisver" class="btn btn-primary"><i class="far fa-credit-card"></i> Satın Al</a>