
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-ticaret Admin Girişi</title>
</head>
<body>
    <form method="post"> 

        @Html.Label("Email")
        @Html.TextBox("email")
        <br />
        @Html.Label("Şifre ")
        @Html.Password("password")
        <br />
        <button type="submit">Giriş Yap</button>






    </form>
</body>
</html>
